template(name="addMangaForUserStep2")
	.container
		.panel.panel-default
			.panel-heading
				.panel-title
					h2 {{_ "addToCollection"}} 
						strong #{manga.names.fr}
						| {{_ "toCollection"}}
			.panel-body
				.grid
					each manga.tomes
						+cover2
