template(name="mangaka")
	if Template.subscriptionsReady
		.panel.panel-default
			.panel-heading
				h1.panel-title #{author}
					small {{_ "mangasByThisAuthor"}}
			.panel-body
				#coverList.grid
					each serie
						with tome1
							.grid-item.mangas
								.thumbnail
									a.thumbnail(href="{{pathFor 'addMangaForUserStep1'}}")
										img(src="#{cover}" alt="#{mangaName}")
									.caption
										h4.text-center #{mangaName}
	else
		+spinner
