@font-face
    font-family markMyWords
    src url('/fonts/mark_my_words.ttf')
    font-weight 400
    font-style normal

body
	padding 50px 0 60px 0

	.mangaCoverItem
		img
			max-height 50px

	h1, h2, h3, h4, h5, h6, .navbar-brand, p.panel-title
		font-family markMyWords

	.row
		display flex
		flex-wrap wrap

	.thumbnail-success
		background-color #dff0d8
		border-color #d6e9c6

	.footer
		padding-top 10px