template(name="addCompleteMangas")
	.container
		h2 {{_ "addACompleteManga"}}
		.panel.panel-default
			.panel-body
				form
					.form-group
						label(for="mangasName") {{_ "manga"}}
						input.form-control#mangasName(type="text")
					.form-group
						label(for="authorLastName") {{_ "authorLastName"}}
						input.form-control#authorLastName(type="text")
					.form-group
						label(for="authorFirstName") {{_ "authorFirstName"}}
						input.form-control#authorFirstName(type="text")
					.form-group
						label(for="authorCover") {{_ "authorCover"}}
						input.form-control#authorCover(type="url")
					.form-group
						label(for="mangasCover") {{_ "mangasCover"}}
						input.form-control#mangasCover(type="url")
					.form-group
						label(for="genre") {{_ "genre"}}
						input.form-control.awesomplete#genre(type="text")
		h2 {{_ "addTomeForTheSerie"}}
		.tomes
			+addTome
		.clearfix
			button.btn.btn-primary#addTome(type='button') {{_ "addTome"}}
			button.btn.btn-success#addManga(type='button') {{_ "validate"}}