template(name="mangaka")
	.container
		.panel.panel-default
			.panel-heading
				.panel-title
					h1 #{author}
			.panel-body
				h2 {{_ "mangasByThisAuthor"}}
				#coverList.grid
					each serie
						+cover
