template(name="mangaka")
	.panel.panel-default
		.panel-heading
			h1 #{author}
				small {{_ "mangasByThisAuthor"}}
		.panel-body
			#coverList.grid
				each serie
					with tome1
						.grid-item.mangas
							a.thumbnail(href="{{pathFor 'addMangaForUserStep1'}}")
								img(src="#{cover}" alt="#{name}")
