body
	padding-top 70px
	font-size 14px
	.navbar-brand
		font-size 24px

.panel-body
	img
		width 100%

.mangas, .mangas-cover
	display inline-block
	padding 0 10px 0 10px

#buttonAddMangaForUser, .ownThemAll, .addTomes
	margin 0 0 20px 0

.addToCollection
	margin -10px 0 10px 0

@media (max-width 320px)
	.mangas.grid-item
		width 100%
	.mangas-cover.grid-item
		width 50%
	h1
		font-size 28px
	h2
		font-size 24px
	h3
		font-size 20px
	h4
		font-size 14px
	h5
		font-size 12px
	h6
		font-size 10px
@media (min-width 321px)
	.mangas.grid-item
		width 50%
	.mangas-cover.grid-item
		width 33%
	h1
		font-size 28px
	h2
		font-size 24px
	h3
		font-size 20px
	h4
		font-size 14px
	h5
		font-size 12px
	h6
		font-size 10px
@media (min-width 450px)
	.mangas.grid-item
		width 50%
	.mangas-cover.grid-item
		width 33%
@media (min-width 768px)
	.mangas.grid-item
		width 33%
	.mangas-cover.grid-item
		width 33%
	h1
		font-size 36px
	h2
		font-size 30px
	h3
		font-size 24px
	h4
		font-size 18px
	h5
		font-size 14px
	h6
		font-size 12px
@media (min-width 992px)
	.mangas.grid-item
		width 25%
	.mangas-cover.grid-item
		width 25%
@media (min-width 1200px)
	.mangas.grid-item
		width 25%
	.mangas-cover.grid-item
		width 20%
