body
	padding-top 70px

.mangas, .mangas-cover
	display inline-block
	padding 0 10px 0 10px

@media (max-width: 767px)
	.mangas.grid-item
		width 50%
	.mangas-cover.grid-item
		width 50%
@media (min-width: 768px)
	.mangas.grid-item
		width 33%
	.mangas-cover.grid-item
		width 33%
@media (min-width: 992px)
	.mangas.grid-item
		width 20%
	.mangas-cover.grid-item
		width 25%
@media (min-width: 1200px)
	.mangas.grid-item
		width 16%
	.mangas-cover.grid-item
		width 20%


