body
	padding-top 70px

.mangas
	display inline-block
	padding 0 15px 0 15px

@media (max-width: 767px)
	.mangas
		a
			img
				width 220px
				height 338px
@media (min-width: 768px)
	.mangas
		a
			img
				width 226px
				height 328px
@media (min-width: 992px)
	.mangas
		a
			img
				width 215px
				height 316px
@media (min-width: 1200px)
	.mangas
		a
			img
				width 200px
				height 307px