template(name="addMangaToWaitingList")
	.col-sm-12.col-md-12.col-lg-12
		h2 {{_ "dontSeeMangasYouOwn"}}
		form.form-inline
			.form-group
				label(for="mangasToAdd") {{_ "mangasName"}}
				input.form-control#mangasNameToAdd(type="text")
				button.btn.btn-success#addMangaToWaitingList(type="button") {{_ "add"}}
		p {{_ "waitingExplanation"}}