template(name='adminHome')
	if isAdmin
		#accordion.panel-group(role='tablist', aria-multiselectable='true')
			.panel.panel-default
				#headingOne.panel-heading(role='tab')
					h4.panel-title
						a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') {{_ "seriesActuallyOnMangatek"}}
				#collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
					table.table.table-bordered
						thead
							tr
								th Cover
								th Name
								th Nb. tomes
								th Actions
						tbody
							each series
								tr
									td
										img(src="#{cover}" alt="#{names.fr}")
									td #{names.fr}
									td #{nbTomes}
									td
										a.btn.btn-default.btn-block(role="button" href="{{pathFor 'editManga'}}")
											span.glyphicon.glyphicon-edit(aria-hidden="true")
			.panel.panel-default
				#headingTwo.panel-heading(role='tab')
					h4.panel-title
						a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') Utilisateurs
				#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
					.panel-body
						| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
			.panel.panel-default
				#headingThree.panel-heading(role='tab')
					h4.panel-title
						a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree') Mangas demandés
				#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
					.panel-body
						| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
	else
		p {{_ "goSeeElsewhere"}}
