template(name="listMangasSeries")
	if Template.subscriptionsReady
		table.table.table-bordered
			thead
				tr
					th Cover
					th Name
					th Nb. tomes
					th Actions
			tbody
				each series
					tr
						td
							.thumbnail
								img(src="#{cover}" alt="#{names.fr}")
						td #{names.fr}
						td #{nbTomes}
						td
							a.btn.btn-default.btn-block(role="button" href="{{pathFor 'editManga'}}")
								span.glyphicon.glyphicon-edit(aria-hidden="true")
	else
		+spinner