template(name='home')
	.jumbotron
		.container
			h1 {{_ "applicationName"}}
			p {{_ "catchPhrase"}}
	.container
		.row
			.hidden-xs.col-sm-12.col-md-6.col-lg-6
				h3 {{_ "whatIsIt"}}
				ul
					li {{_ "whatIsItAnswer1"}}
					li {{_ "whatIsItAnswer2"}}
					li {{_ "whatIsItAnswer3"}}
					li {{_ "whatIsItAnswer4"}}
			.hidden-xs.col-sm-12.col-md-6.col-lg-6
				h3 {{_ "howToBegin"}}
				ol
					li {{_ "step1"}}
					li {{_ "step2"}}
					li {{_ "step3"}}
					li {{_ "step4"}}
	.container-fluid
		h3 {{_ "mangasOnApplication"}}
		+mangasCoverList
