template(name="addMangaForUserStep1")
	.container
		h1 {{_ "whichMangaToAdd"}}
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			#coverList.grid
				each covers
					+cover
		if ifLogIn
			+AddMangaToWaitingList