template(name='missingMangas')
	.container-fluid
		if Template.subscriptionsReady
			if tomesInMangatek
				.page-header
					h1 {{_ "allTomesMissing"}}
				.row
					each mangasList
						+tome
			else
				.page-header
					h1 {{_ "AllTomesInMangatek"}}
			+footer
		else
			+spinner