template(name="ownedMangas")
	.container-fluid
		if Template.subscriptionsReady
			if tomesInMangatek
				.page-header
					h1 {{_ "allTomesOwned"}}
				.row
					each mangasList
						+tome
			else
				.page-header
					h1 {{_ "noTomesInMangatek"}}
			+footer
		else
			+spinner