template(name="addMangaForUserStep2")
	if Template.subscriptionsReady
		with manga
			.panel.panel-default
				.panel-heading
					.panel-title
						h2 {{_ "addToCollection"}}
							strong #{names.fr}
							| {{_ "toCollection"}}
				.panel-body
					.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							button.ownThemAll.btn-block.btn.btn-primary(type="button") {{_ "ownThemAll"}}
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							button.addTomes.btn-block.btn.btn-success(type="button") {{_ "addTomes"}}
					.grid
						each tomes
							.mangas.grid-item
								a.thumbnail(href="{{pathFor 'tomeDetails'}}")
									img(src="#{cover}" alt="#{title}")
								if ownedByUser
									button.addToCollection.btn.btn-success.btn-block(type="button") {{_ "clickToAddToCollection"}}
								else
									button.addToCollection.btn.btn-default.btn-block(type="button") {{_ "clickToAddToCollection"}}
				.panel-footer
					.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							button.ownThemAll.btn-block.btn.btn-primary(type="button") {{_ "ownThemAll"}}
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							button.addTomes.btn-block.btn.btn-success(type="button") {{_ "addTomes"}}
	else
		+spinner

