template(name="addMangaForUserStep2")
	if Template.subscriptionsReady
		.container-fluid
			with manga
				.page-header
					h1 {{_ "addToCollection"}}
						strong #{names.fr}
						| {{_ "toCollection"}}
				+actions
				.row
					each tomes
						.col-xs-6.col-sm-4.col-md-3.col-lg-2
							.thumbnail
								img(src="#{cover}" alt="#{title}")
								.caption
									if ownedByUser
										button.addToCollection.btn.btn-success.btn-block(type="button") {{_ "alreadyInMangatek"}}
									else
										button.addToCollection.btn.btn-default.btn-block(type="button") {{_ "clickToAddToCollection"}}
				+actions
	else
		+spinner

template(name="actions")
	.row
		.col-xs-12.col-sm-6.col-md-6.col-lg-6
			button.ownThemAll.btn-block.btn.btn-primary(type="button") {{_ "ownThemAll"}}
		.col-xs-12.col-sm-6.col-md-6.col-lg-6
			button.addTomes.btn-block.btn.btn-success(type="button") {{_ "addTomes"}}

