template(name="header")
	nav.navbar.navbar-default.navbar-fixed-top
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#mkp-navbar" aria-expended="false")
					span.sr-only {{_ "toggleNav"}}
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="{{pathFor 'home'}}") {{_ "applicationName"}}
			#mkp-navbar.collapse.navbar-collapse
				if currentUser
					ul.nav.navbar-nav
						li(class="#{homeActive}")
							a(href="{{pathFor 'ownedMangas'}}") {{_ "ownedMangas"}}
						li(class="#{missingActive}")
							a(href="{{pathFor 'missingMangas'}}") {{_ "missingMangas"}}
						if admin
							li(class="#{addCompleteMangasActive}")
								a(href="{{pathFor 'addCompleteMangas'}}") {{_ "addCompleteMangas"}}
					form.navbar-form.navbar-left#buttonAddMangas
						button.btn.btn-primary(type="button" data-toggle="modal" data-target="#myModal") {{_ "addAMangas"}}
				.nav.navbar-nav.navbar-right
					+loginButtons
	+addMangas