template(name='home')
	.jumbotron
		.container
			h1 {{_ "applicationName"}}
			p Créez et gérez votre mangathèque !
	.container
		h2 Qu'est-ce que Mangatek
		p Mangatek vous permet de créer, d'organiser votre mangathèque virtuelle.
		p Vous n'oublierez plus quel tome vous manque sur chaque série de mangas.
		p Trouvez tous les mangas réalisez par votre mangaka préféré
		p Pas d'idée de cadeau ? Envoyez par mail à vos amis la liste des mangas qu'il vous manque !
		h2 Mangas présents sur Mangatek