template(name='home')
	.jumbotron
		.container
			h1 {{_ "applicationName"}}
			p {{_ "catchPhrase"}}
	.container
		.cleafix
			.hidden-xs.col-sm-12.col-md-6.col-lg-6
				h2 {{_ "whatIsIt"}}
				ul
					li {{_ "whatIsItAnswer1"}}
					li {{_ "whatIsItAnswer2"}}
					li {{_ "whatIsItAnswer3"}}
					li {{_ "whatIsItAnswer4"}}
			.hidden-xs.col-sm-12.col-md-6.col-lg-6
				h2 {{_ "howToBegin"}}
				ol
					li {{_ "step1"}}
					li {{_ "step2"}}
					li {{_ "step3"}}
					li {{_ "step4"}}
		.col-sm-12.col-md-12.col-lg-12
			h2 {{_ "mangasOnApplication"}}
			#coverList.grid
				each covers
					+mangaCover
		if ifLogIn
			+AddMangaToWaitingList
