template(name="mangas")
	.mangas.col-xs-6.col-sm-4.col-md-3.col-lg-2
		.thumbnail
			img(src="#{cover}" alt="#{title}")
			.caption
				h3.text-center #{mangasName}
				h4.text-center Tome #{tomeNumber}