template(name="mangas")
	.mangas
		.thumbnail
			a(href="{{pathFor 'tomeDetails'}}")
				img(src="#{cover}" alt="#{title}")
			.caption
				h3.text-center #{mangasName}
				h4.text-center Tome #{tomeNumber}