template(name='missingMangas')
	.clearfix#buttonAddMangas
		button.btn.btn-primary(type="button" data-toggle="modal" data-target="#myModal") Ajouter un Mangas
	.clearfix
		.row
			each mangasList
				+mangas
	+addMangas