template(name="mangas")
	.mangas.grid-item
		.thumbnail
			a(href="{{pathFor 'tomeDetails'}}")
				img(src="#{cover}" alt="#{title}")
			.caption
				h3.text-center #{name}
				h4.text-center Tome #{number}